@import "@/assets/styles/reset.css"; // ресет
@import "@/assets/fonts/stylesheet.css";

body {
    font-family: var(--font-family);
    background: var(--bg-main);
    font-size: 17px;
    line-height: 140%;
    color: #141515;
}